<!DOCTYPE html>

<html>


<head lang="en">

  <meta charset="utf-8">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>

  <style>

    .starRating {

      margin: 0;

      padding: 0;

      color: #a9a9a9;

    }

    .starRating li {

      list-style-type: none;

      display: inline-block;

      padding: 3px;

      font-weight: bold;

      cursor: pointer;

    }

    .starRating .filled {

      color: green;

    }

  </style>

  <script type="text/javascript">

    var ng = angular.module('app', []);


    ng.controller('controller', function($scope) {

      $scope.rating = 5;

    });


    ng.directive('starRating',function() {

        return {

          //This template is used to display the star UX in repeted form.

          template: '<ul class="starRating">' + '   <li ng-repeat="star in stars" ng-class="star" ng-click="toggleFunck($index)">' + '\u2605' + '</li>' + '</ul>',

          scope: {

            ratingValue: '=',

            max: '=',

            onStarRating: '&'

          },

          link: function(scope, elem, attrs) {

            //This method is used to update the rating run time.

            var updateRating = function() {

              //This is global level collection.

              scope.stars = [];


              //Loop called with the help of data-max directive input and push the stars count.

              for (var i = 0; i < scope.max; i++) {

                scope.stars.push({

                  filled: i < scope.ratingValue

                });

              }

            };


            //This is used to toggle the rating stars.

            scope.toggleFunck = function(index) {

              //This is used to count the default start rating and sum the number of imput index.

              scope.ratingValue = index + 1;

               

              scope.onStarRating({

                rating: index + 1

              });

            };


            //This is used to watch activity on scope, if any changes on star rating is call autometically and update the stars.

            scope.$watch('ratingValue',

              function(oldV, newV) {

                if (newV) {

                  updateRating();

                }

              }

            );


          }

        };

      }

    );

  </script>

</head>


<body ng-app="app">


  <div ng-controller="controller">

    <h3>Star Rating</h3>

    <div ng-init="rating = star.rating + 1"></div>

    <div star-rating rating-value="rating" data-max="5"></div>

  </div>


</body>


</html>